.categories {
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.eachCatBox {
  border: 1px solid black;
  height: 25vh;
  width: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catName {
  position: absolute;
  z-index: 4;
}
.catPic {
  width: 100%;
  height: 100%;
}
.survey {
  margin: 30px;
}
.criteria {
  width: 40%;
}
.eachCrit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.submitbtn {
  border: 1px solid black;
  margin: auto;
}